# Project 3 Part 4: Hypothesis Testing
---

Author: Jackson Muehlbauer

Date: 3/15/23

In [1]:
# imports
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns

# MySQL
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

In [9]:
# function convert dataframe with categorical column into dictionary of 
# Series with categorical values are keys

def groups_for_anova(df, cat_col, i_col):
    """
    df : Dataframe to make dictionary
    cat_col : categorical column to groupby
    i_col : column of interest
    """
    groups = {}

    # loop through all unique categories
    for i in q1[cat_col].unique():
        data = q1.loc[q1[cat_col] == i, i_col].copy()
        #save into the dictionary
        groups[i] = data
    return groups

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root"
db_name = "movies"
connection_str = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
## Check if database exists, if not, create it
if database_exists(connection_str):
    print('It exists!')
else:
    create_database(connection_str)
    print('Database created!')

It exists!

In [4]:
# connect to engine
engine = create_engine(connection_str)

In [5]:
# Show tables as a check
q = """SHOW TABLES"""
pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data

## Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

In [6]:
# Query Data to retrieve revenue and ratings (only G/PG/PG-13/R)
q = """
SELECT certification, revenue
FROM tmdb_data
WHERE certification IN ('G', 'PG', 'PG-13', 'R')
"""

q1 = pd.read_sql(q, engine)
q1.head()

  certification     revenue
0         PG-13  76019000.0
1         PG-13   5271670.0
2             R         0.0
3            PG  12855000.0
4             R         0.0

In [7]:
# checking value counts
q1['certification'].value_counts()

R        457
PG-13    183
PG        63
G         24
Name: certification, dtype: int64

In [10]:
# creating groups
groups = groups_for_anova(q1, 'certification', 'revenue')
groups.keys()

dict_keys(['PG-13', 'R', 'PG', 'G'])