In [41]:
# Imports
import pandas as pd
import numpy as np

In [42]:
# Load data
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

basics = pd.read_csv(basics_url, sep = '\t', low_memory = False)
akas = pd.read_csv(akas_url, sep = '\t', low_memory = False)
ratings = pd.read_csv(ratings_url, sep = '\t', low_memory = False)

In [43]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [44]:
# Encode missing values with NaN
basics.replace({'\\N': np.nan}, inplace = True)
akas.replace({'\\N': np.nan}, inplace = True)
ratings.replace({'\\N': np.nan}, inplace = True)

In [45]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [46]:
# Eliminate movies that are null for runtimeMinutes
print(basics.shape)
basics.dropna(subset = ['runtimeMinutes'], inplace = True)
print(basics.shape)

(9627093, 9)
(2818952, 9)

In [47]:
# Eliminate movies that are null for genres
print(basics.shape)
basics.dropna(subset = ['genres'], inplace = True)
print(basics.shape)

(2818952, 9)
(2743381, 9)

In [48]:
basics['titleType'].unique()

array(['short', 'movie', 'tvSeries', 'tvShort', 'tvMovie', 'tvEpisode',
       'tvMiniSeries', 'video', 'tvSpecial', 'videoGame'], dtype=object)

In [49]:
# keep only titleType==Movie
print(basics.shape)
basics = basics.loc[basics['titleType'] == 'movie', :]
print(basics.shape)

(2743381, 9)
(377453, 9)

In [50]:
# Checking dtypes
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377453 entries, 8 to 9627043
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          377453 non-null  object
 1   titleType       377453 non-null  object
 2   primaryTitle    377453 non-null  object
 3   originalTitle   377453 non-null  object
 4   isAdult         377453 non-null  object
 5   startYear       371076 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  377453 non-null  object
 8   genres          377453 non-null  object
dtypes: object(9)
memory usage: 28.8+ MB

In [51]:
#Changing dtypes
basics['isAdult'] = basics['isAdult'].astype(int)
basics['startYear'] = basics['startYear'].astype(float)
basics['endYear'] = basics['endYear'].astype(float)
basics['runtimeMinutes'] = basics['runtimeMinutes'].astype(int)
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377453 entries, 8 to 9627043
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          377453 non-null  object
 1   titleType       377453 non-null  object
 2   primaryTitle    377453 non-null  object
 3   originalTitle   377453 non-null  object
 4   isAdult         377453 non-null  int64
 5   startYear       371076 non-null  float64
 6   endYear         0 non-null       float64
 7   runtimeMinutes  377453 non-null  int64
 8   genres          377453 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 28.8+ MB

In [52]:
# keep startYear 2000-2022
print(basics.shape)
year_filter = (basics['startYear'] >= 2000) & (basics['startYear'] <= 2022)
basics = basics.loc[year_filter, :]
print(basics.shape)

(377453, 9)
(221646, 9)

In [53]:
# Eliminate movies that include "Documentary" in genre
#basics['genres'].unique()
print(basics.shape[0])
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics.loc[~is_documentary, :]
print(basics.shape[0])

221646
146558

In [40]:
# Checking akas
akas.head()
akas['region'].unique()

array(['UA', 'DE', 'HU', 'GR', 'RU', 'US', nan, 'JP', 'FR', 'RO', 'GB',
       'CA', 'PT', 'AU', 'ES', 'FI', 'PL', 'AR', 'RS', 'UY', 'IT', 'BR',
       'DK', 'TR', 'XWW', 'XEU', 'SK', 'CZ', 'SE', 'NZ', 'MX', 'NO',
       'XYU', 'AT', 'VE', 'CSHH', 'SI', 'SUHH', 'IN', 'TW', 'LT', 'NL',
       'CO', 'IR', 'BG', 'SG', 'BE', 'VN', 'HR', 'DZ', 'CH', 'BF', 'PH',
       'XWG', 'HK', 'CN', 'XSA', 'EE', 'IS', 'PR', 'DDDE', 'IL', 'EG',
       'XKO', 'CL', 'IE', 'JM', 'KR', 'PE', 'GE', 'BY', 'BA', 'AE', 'PA',
       'TH', 'ZA', 'TJ', 'XSI', 'MY', 'LV', 'ID', 'PK', 'BD', 'CU', 'AL',
       'BO', 'EC', 'XAS', 'CR', 'PY', 'DO', 'GT', 'SV', 'UZ', 'BUMM',
       'YUCS', 'XPI', 'BJ', 'AZ', 'NG', 'CM', 'MA', 'GL', 'MN', 'LI',
       'LU', 'MZ', 'BM', 'KZ', 'MD', 'LB', 'IQ', 'TM', 'MK', 'TN', 'HT',
       'AM', 'LK', 'ME', 'CG', 'CI', 'SY', 'NP', 'QA', 'TO', 'SN', 'GH',
       'JO', 'KP', 'KG', 'NE', 'GN', 'VDVN', 'TD', 'SO', 'SD', 'MC', 'TT',
       'GA', 'BS', 'LY', 'AO', 'KH', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY',
       'ET', 'GU', 'SR', 'MT', 'TG', 'PG', 'MU', 'BI', 'CF', 'NI', 'ZW',
       'ZM', 'GW', 'DJ', 'RW', 'TZ', 'GI', 'LA', 'SC', 'GP', 'XAU', 'FO',
       'PS', 'ZRCD', 'MO', 'AW', 'KW', 'CV', 'SL', 'SM', 'CD', 'BT', 'LS',
       'HN', 'KE', 'MQ', 'AD', 'ER', 'MM', 'SA', 'CSXX', 'IM', 'XKV',
       'BH', 'BB', 'BZ', 'UG', 'AG', 'NU', 'OM', 'BW', 'LR', 'AN', 'MV',
       'YE', 'GM', 'KY', 'NC', 'DM', 'TL', 'MP', 'VA', 'GQ', 'FJ', 'SZ',
       'RE', 'EH', 'PF', 'VG', 'LC', 'MW', 'BN', 'ST', 'KM', 'FM', 'AI',
       'GD', 'VI', 'SB', 'GF', 'AQ', 'MH', 'CW', 'WS', 'VC', 'AS', 'XNA',
       'MS', 'VU', 'SH', 'KI', 'KN', 'CC', 'GS', 'TV', 'CK', 'PW', 'NR',
       'JE', 'TC'], dtype=object)

In [54]:
# Keep only US movies
print(akas.shape[0])
akas = akas.loc[akas['region'] == 'US', :]
print(akas.shape[0])

34984864
1415820

In [55]:
# Keep only US movies in basics df
keepers =basics['tconst'].isin(akas['titleId'])
keepers.value_counts()

True     85548
False    61010
Name: tconst, dtype: int64

In [57]:
# Keep only US movies in basics df
print(basics.shape[0])
basics = basics[keepers]
print(basics.shape[0])

146558
85548

In [58]:
# Keep only US movies in ratings df
keepers = ratings['tconst'].isin(akas['titleId'])
keepers.value_counts()

False    792082
True     489683
Name: tconst, dtype: int64

In [59]:
# Keep only US movies in basics df
print(ratings.shape[0])
ratings = ratings[keepers]
print(ratings.shape[0])

1281765
489683

In [60]:
path_basics = '/Users/jacksonmuehlbauer/Documents/GitHub/IMDB-Movies-JLM/basics.csv'
path_akas = '/Users/jacksonmuehlbauer/Documents/GitHub/IMDB-Movies-JLM/akas.csv'
path_ratings = '/Users/jacksonmuehlbauer/Documents/GitHub/IMDB-Movies-JLM/ratings.csv'

In [61]:
basics.to_csv(path_basics)